.App {
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
    height: 0;
    border: 0;
    border-top: 1px solid #b3b3b3;
}

.Spacing {
    &.s10 {height: 10px}
    &.s20 {height: 20px}
    &.s30 {height: 30px}
}

.D-Flex {
    display: flex;
}

.D-In-Flex{
    display: inline-flex;
}

.Flex-Direction-Col {
    flex-direction: column;
}

.Col-3 {
    width: 30%;
}

.Error-404 {
    height: 400px;
    display: flex;
    margin: 100px auto;
}

.Loader {
    border: 6px solid #f3f3f3;
    border-top-color: rgb(243, 243, 243);
    border-top-style: solid;
    border-top-width: 6px;
    border-top: 6px solid #bd0101;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: absolute;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mr-8 {
    margin-right: 8px;
}
