.Faq02 {
    background: #E6E5E5;
    padding: 80px;
}

.Search-Area {
    display: flex;
    position: relative;
    margin-bottom: 80px;
    align-items: center;
}

.Search-Input {
    width: 590px;
    height: 84px;
    border: none;
    border-radius: 80px;
    padding: 0 30px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    background: #FFF;
    padding-left: 80px;
}

.Search-Input::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #333333;
}

.Search-Input-Button {
    position: absolute;
    left: 20px; 
    top: 0;
    bottom: 0;
    margin: auto 0;
    outline: none;
}

.Top-Section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #BD0101;
    margin-bottom: 10px;
}

.Links-Section hr {
    margin: 20px 0;
}

.SubTitle {
    margin-bottom: 80px;
}

.SubTitle p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #272727;
    margin-bottom: 4px;
}

.SubTitle h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.Links-Section {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #272727;
}

.Links-Section span {
    cursor: pointer;
}