.Faq01 p {
    // padding: 100px;
}

.Help-Search-Area {
    width: 100%;
    height: 350px;
    background: rgba(189, 1, 1, 0.5);
    box-shadow: inset 0 0 0 2000px rgba(189, 1, 1, 0.5);
    background-image: url("../assets/img/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.Help-Search-Area h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 60px;    
    color: #FFFFFF;
    margin-bottom: 63px;
}

.Help-Search-Area > div {
    display: flex;
    width: 100%;
    margin-left: 141px;
    flex-direction: column;
}

.Custom-Search {
    display: flex;
    position: relative;
    width: 590px;
    height: 84px;
}

.Custom-Search-Input {
    width: 590px;
    height: 84px;
    border: none;
    border-radius: 80px;
    padding: 0 30px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}

.Custom-Search-Input::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}

.Custom-Search-Button {
    width: 118px;
    height: 48px;
    position: absolute;
    right: 20px; 
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 0;
    background: #BD0101;
    border-radius: 80px;
    color: #fff;
    outline: none;
    padding: 0 10px;
    z-index: 2;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.Container {
    background: #E6E5E5;
}

.Sections {
    padding: 80px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Sections .Left-Section, .Sections .Right-Section {
    width: 50%;
    // display: inline-flex;
}

.Left-Section {
    flex-direction: column;
    display: flex;
    margin-bottom: auto;
}

.Left-Section > div {
    display: inline-flex;
    align-items: baseline;
}

.Left-Section h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #BD0101;
}

.Left-Section span {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #BD0101;
    margin-left: 10px;
}

.Left-Section p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #272727;
}

.Right-Section > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(274px, max-content));
    grid-gap: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 874px)
{
    .Sections {
        flex-direction: column;
    }
    .Sections .Left-Section, .Sections .Right-Section {
        width: 100%;
    }
    .Help-Search-Area {
        justify-content: center;
    }
    .Help-Search-Area > div {
        margin-left: auto;
        align-content: center;
        align-items: center;
    }
}

@media (max-width: 630px)
{
    .Help-Search-Area h1 {
        font-size: 30px;
    }
    .Left-Section h1 {
        font-size: 30px;
    }
    .custom-search {
        width: 410px;
    }
    .Left-Section div {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }
}